
services:
  isbn-notify:
    # Pull the published image from GitHub Container Registry (GHCR)
    image: ghcr.io/noorkhafidzin/isbn-notify:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    container_name: isbn-notify
    ports:
      - "8787:8787"
    volumes:
      - ./data:/app/data
    environment:
      - TZ=Asia/Jakarta
      - API_KEY=your_secret_api_key_here
      - PORT=8787
      
      # Optional Notification Settings
      - NTFY_DEFAULT_TOPIC=isbn
      - NTFY_DEFAULT_URL=https://ntfy.sh
      # - NTFY_AUTH_TOKEN=username:password
      # - TELEGRAM_BOT_TOKEN=your_telegram_bot_token
      # - TELEGRAM_DEFAULT_CHAT_ID=your_telegram_chat_id
    restart: unless-stopped
